<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/img/Weather.png">
    <link rel="stylesheet" href="/css/style.css">
    <title>Help</title>
</head>

<body>
    <div class="main-content">
        {{>header}}
        <div class="help-contain">
            <h2>{{helptext}}</h2>
            <hr>
            <br>
            <p><a href="{{urlone}}" target="_blank">{{linkone}}</a></p>
            <p><a href="{{urltwo}}" target="_blank">{{linktwo}}</a></p>
            <p><a href="{{urlthree}}" target="_blank">{{linkthree}}</a></p>
        </div>
    </div>
    {{>footer}}
</body>

</html>